{% extends 'angler/base.html'%}
{% block content %}

    <h2>Feed</h2>
    <br>
        {% if posts %}
            <ul>
                {% for post in posts %}
                <li>
                    {{ post.user.get_profile_name }}
                    <br>
                    @<a href="{% url 'user_profile' user_id=post.user.id %}">{{ post.user.username}}</a>
                    <p>{{post.text}}</p>
                    <br>
                    {% if post.image %}
                        <img src="{{ post.image.url }}">
                    {% endif %}
                    <br>
                    <a href="{% url 'post_detail' post_id=post.id %}">View more</a>
                </li>
                <br>
                <span>
                    {{ post.like_count }}
                    <form method="POST", action="{% url 'post_like' post_id=post.id %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" value="Like">
                    </form>
                </span>

                <details>
                    <summary>Comments</summary>
                    <div>
                        {% for comment in post.get_comments %}
                            @{{comment.user.username}}:
                            {{ comment.text }}
                            {{ comment.like_count }}
                        <form method="POST", action="{% url 'comment_like' comment_id=comment.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="submit" value="Like">
                                <br>
                        </form> 

                        {% endfor %}
                    </div>
                    <div>
                    <form method="post" action="{% url 'comment_create' post_id=post.id %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button type="submit">Submit</button>
                    </form>
                    </div>
                </details>
                {% endfor %}
            </ul>
        {% endif %}    
{% endblock %}
