{% extends 'angler/base.html' %}
{% load static %}

{% block content%}

    <div class="registration">
        <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="registration-wrapper w-100">            
            <div class="card p-4 shadow mx-auto registration-card">

                <div class="registration-card-top">
                    <div class="registration-title">
                    <h2>Register</h2>
                    <p class="text-muted">Fill form to create an account</p>
                    </div>
                </div>

            <form method="POST" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                <div class="col-md-5">
                    <label for="{{ profile_form.profile_name.id_for_label }}" class="form-label">
                        Display Name
                    </label>

                    <div class="input-group has-validation">
                        {{ profile_form.profile_name }}
                    </div>

                </div>

                <div class="col-md-5">
                    <label for="{{ user_form.username.id_for_label }}" class="form-label">
                        Username
                    </label>

                    <div class="input-group has-validation">
                        <span class="input-group-text">@</span>
                        {{ user_form.username }}
                    </div>

                    {% if user_form.username.errors %}
                        <div class="invalid-feedback d-block">
                            {{ user_form.username.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
                
                 <div class="col-md-6">
                    <label for="{{ user_form.email.id_for_label }}" class="form-label">
                        Email
                    </label>
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                </div>
                
                <div class="col-md-7">
                    <label for="{{ user_form.password.id_for_label }}" class="form-label">
                        Password
                    </label>
                    {{ user_form.password }}
                    {{ user_form.password.errors }}
                </div>

                
                <div class="col-md-7">
                    <label for="{{ user_form.confirm_password.id_for_label }}" class="form-label">
                        Confirm Password
                    </label>
                    {{ user_form.confirm_password }}
                    {{ user_form.confirm_password.errors }}
                </div>

                
                <div class="col-md-8">
                        <label for="{{ profile_form.profile_image.id_for_label }}" enctype="multipart/form-data" class="form-label">
                            Avatar
                        </label>
                        {{ profile_form.profile_image }}
                        {{ profile_form.profile_image.errors }}
                </div>

                
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">
                        Register
                    </button>
                </div>
            </form>
                    
                </div>    
            </div>
        </div>
    </div>
{% endblock %}

