{% extends 'angler/base.html'%}
{% block content %}

<body>
    <h2>{{ user.get_profile_name }} Tackle Box</h2>
        {% if rod_and_reels %}
        <h4>Rod and Reel Setups</h4>
            <ul>
                {% for rod_and_reel in rod_and_reels %}
                <li>
                    <p>{{rod_and_reel.name}}</p>
                    <p>{{rod_and_reel.rod_action}}</p>
                    <p>{{rod_and_reel.rod_length}}</p>
                    <p>{{rod_and_reel.line}}</p>
                    <p>{{rod_and_reel.line_length}}</p>
                    <p>{{rod_and_reel.leader}}</p>
                    <p>{{rod_and_reel.leader_length}}</p>
                </li>
                {% endfor %}
            </ul>
        {% endif %}  
        {% if lures %}
        <h4>Lure Setups</h4>
            <ul>
                {% for lure in lures %}
                <li>
                    <p>{{lure.name}}</p>
                    {% if lure.live_bait %}
                        <p>Live bait!</p>
                    {% endif %}
                    <p>{{lure.description}}</p>
                    <p>{{lure.lure_type}}</p>
                    {%if lure.trailer %}
                        <p>{{lure.trailer}}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}  
</body>
{% endblock %}