{% extends 'angler/base.html'%}
{% load static %}
{% block content %}
<h2 class="section-title-detail">{{ fish_entry.fish_dex.user.get_profile_name }}'s Fishdex</h2>
<div class="practice-box2" style="background-color: {{ fish_color }}; opacity: 0.8;">
    <div class="detail-container">
        <div class="detail-header">
            <div class="detail-img-wrapper">
                <img class="detail-img" src="{{ fish_entry.fish.fish_avatar.url }}" />
                
                <div class="detail-img-actions">
                {% if fish_entry.tackle %}
                    <a href="{% url 'tackle_detail' tackle_type='rod' tackle_id=fish_entry.tackle.id%}">
                        <img src="{% static 'icons/rod.png' %}" alt="action 1" class="detail-action-icon" /> 
                    </a>       
                {% elif not fish_entry.tackle and request.user == user %}
                     <a href="{% url 'tackle_entry_choice' tackle_type='rod' fish_entry_id=fish_entry.id %}">       
                        <img src="{% static 'icons/rod.png' %}" alt="action 1" class="detail-action-icon" />
                    </a>    
                {% endif %}     
                      
                {% if fish_entry.lure %}    
                    <a href="{% url 'tackle_detail' tackle_type='lure' tackle_id=fish_entry.lure.id%}">
                        <img src="{% static 'icons/lure.png' %}" alt="action 2" class="detail-action-icon" />
                    </a>    
                {% elif not fish_entry.lure and request.user == user %}
                    <a href="{% url 'tackle_entry_choice' tackle_type='lure' fish_entry_id=fish_entry.id %}">         
                        <img src="{% static 'icons/lure.png' %}" alt="action 2" class="detail-action-icon" />
                    </a>        
                {% endif %}

                {% if fish_entry.latitude and fish_entry.longitude %}   
                    <a href="https://www.google.com/maps/search/?api=1&query={{fish_entry.latitude}}%2C{{fish_entry.longitude}}" target="_blank" rel="noopener noreferrer">        
                        <img src="{% static 'icons/map.png' %}" alt="action 2" class="detail-action-icon" />
                    </a>  
                {% endif %}
                </div>
            </div>
            <div class="detail-header-text">
                    <span class="detail-name">{{ fish_entry.fish.name }}
                        {% if fish_entry.is_shiny %}
                        <img src="{% static 'icons/shiny.png' %}" class="id-icon">
                        {% endif %}
                    </span>
                    <span class="detail-id">#{{ fish_entry.fish.id }}/{{fish_entry.fish.count}}</span>
            </div>
            {% if not fish_entry.latitude and not fish_entry.longitude and user == request.user %}
                <button id="getLocationButton" class="detail-header-btn">Save Location</button>      
            {% endif %}    
        </div>
        <!-- <div class="divider"></div> -->
         <br>
         <div class="detail-fields-wrapper">
            <div class="detail-fields">
                <div class="field-row">
                    <span class="field-label">weight</span>
                    <span class="field-value">{{ fish_entry.entry_weight }}lbs</span>
                </div>
                <div class="field-row">
                    <span class="field-label">avg. weight</span>
                    <span class="field-value">{{ fish_entry.fish.weight }}lbs</span>
                </div>
                <div class="field-row">
                    <span class="field-label">size</span>
                    <span class="field-value">{{ fish_entry.entry_length }}in.</span>
                </div>
                <div class="field-row">
                    <span class="field-label">avg. size</span>
                    <span class="field-value">{{ fish_entry.fish.length }}in.</span>
                </div>
                <div class="field-row field-full">
                    <span class="field-label">Date Caught</span>
                    <span class="field-value">{{ fish_entry.caught_at }}</span>
                </div>
            </div>
        </div>    
    </div>
</div>

<script>

    const sendUserCoordinates = (coords) => {
        const id = '{{ fish_entry.id }}'
        fetch(`/fishdex_location/${id}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                latitude: coords.latitude,
                longitude: coords.longitude
            })
        }).then(() => location.reload())
    }

    document.addEventListener('DOMContentLoaded', function(){
        const getLocationButton = document.getElementById('getLocationButton'); 
        getLocationButton.addEventListener('click', function() {
            if ('geolocation' in navigator){
                navigator.geolocation.getCurrentPosition(
                    function(position) {

                        sendUserCoordinates(position.coords)                       
                    },
                    function(error) {
                        console.error(error)
                    },
                    {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0
                    }
                )
            }
        });                        
    });
</script>
{% endblock %}
 <!--If fish passes set size make it a shiny, will use an icon of star or some sort to display that
    need caught_at added
 -->