{% extends 'angler/base.html' %}
{% load static %}
{% block content%}

<div class="title-row-rod">
    <h2 class="section-title">Lure-Bait Setup</h2>
</div>

<div class="lure-box3">
    <form method="POST" action="{% url 'lure_create'%}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="form-btn">Submit</button>
    </form>
</div>

{% endblock %}