{% extends 'angler/base.html' %}
{% load static %}
{% block content %}
    <div class="title-row">
        <h2 class="section-title">Messages</h2>
    </div>

    <div class="chat-list">
        {% for group in group_chats %}
        <a href="{% url 'direct_message' gc_id=group.id %}" class="chat-entry">
            <img src="{{ group.image.url }}" class="chat-avatar" />
            <div class="chat-info">
                <div class="chat-info-top">
                    <span class="chat-name position-relative d-inline-block">
                        {{ group.group_name }}
                        {% if group.unread_count %}
                        <span class="position-absolute top-5 start-70 translate-middle badge rounded-pill bg-danger">
                            {{ group.unread_count }}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                        {% endif %}
                    </span>
                    <span class="chat-timestamp">{{ group.get_latest_message.created_at|timesince }} ago</span>
                </div>
                <span class="chat-preview">{{ group.get_latest_message }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}