{% extends 'angler/base.html'%}
{% load static%}
{% block content %}   
<div class="profile-page">
    <div class="profile-sidebar-wrapper">
        <div class="profile-sidebar">

            <form method="POST" action="{% url 'user_profile' user_id=user_profile.id %}" enctype="multipart/form-data" id="edit-form">
                {% csrf_token %}
            </form>

            <img src="{{ user_profile.profile_image.url }}" class="profile-avatar show-viewing" />
            {% if request.user == user_profile.user %}
            <label class="profile-avatar-edit show-editing d-none">
                <img src="{{ user_profile.profile_image.url }}" class="profile-avatar" id="avatar-preview" />
                <input type="file" name="profile_image" accept="image/*" style="display:none;" onchange="previewAvatar(this)" form="edit-form" />
            </label>
            {% endif %}

            <div class="profile-info show-viewing">
                <span class="profile-name">{{ user_profile.profile_name }}</span>
                <span class="profile-username">@{{ user_profile.user.username }}</span>
            </div>
            {% if request.user == user_profile.user %}
            <div class="profile-info show-editing d-none">
                <input type="text" name="profile_name" class="profile-edit-input" form="edit-form" value="{{ user_profile.profile_name }}" />
                <span class="profile-username">@{{ user_profile.user.username }}</span>
            </div>
            {% endif %}

            <p class="profile-bio show-viewing">{{ user_profile.bio }}</p>
            {% if request.user == user_profile.user %}
            <textarea name="bio" class="profile-edit-input profile-bio-edit show-editing d-none" form="edit-form">{{ user_profile.bio }}</textarea>
            {% endif %}

            <div class="profile-actions">
                {% if request.user == user_profile.user %}
                    <button class="profile-btn profile-edit-btn show-viewing" onclick="toggleEdit(true)">Edit Profile</button>
                    <button class="profile-btn profile-follow-btn show-editing d-none" onclick="document.getElementById('edit-form').submit()">Save</button>
                    <button class="profile-btn profile-block-btn show-editing d-none" onclick="toggleEdit(false)">Cancel</button>
                {% else %}
                    {%if pending_sent_friend_request %}
                        <button type="submit" class="profile-btn profile-follow-btn" disabled>Pending</button>
                    {% elif pending_recieved_friend_request %}
                        <form method="POST" action="{% url 'manage_friend_request' user_id=user_profile.user.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="accept" class="profile-btn profile-follow-btn">Accept</button>
                            <br>
                            <button type="submit" name="action" value="reject" class="profile-btn profile-follow-btn">Reject</button>    
                            </button>
                        </form>
                    {% elif not is_friend %}  
                        <form method="post" action="{% url 'send_friend_request' user_id=user_profile.user.id %}"> 
                            {% csrf_token %}
                            <button type="submit" class="profile-btn profile-follow-btn">Add</button> 
                        </form>
                    {% endif %}    
                    {% if is_friend %}
                    <form method="post" action="{% url 'remove_friend' user_id=user_profile.user.id %}"> 
                            {% csrf_token %}
                            <button type="submit" class="profile-btn profile-follow-btn">Unfriend</button>
                        </form>
                    {% endif %}    
                    <a href="" class="profile-btn profile-message-btn">Message</a> 
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" class="profile-btn profile-block-btn">
                            {% if is_blocked %}Unblock{% else %}Block{% endif %}
                        </button>
                    </form> 
                {% endif %}
            </div>
        </div>   
        {% if  not private %}
        <div class="results-grid profile-sidebar-grid">
                <div class="result-card">
                    <a href="{% url 'fishdex' user_id=user_profile.user.id %}" class="result-name">FishDex</a>
                    <div class="result-card-actions">
                        {% for entry in fish_entries %}
                            <a href="{% url 'fishdex_detail' fishdex_id=entry.fish_dex.id fish_entry_id=entry.id %}" onclick="event.stopPropagation()">
                                <img src="{{ entry.fish.fish_avatar.url }}" alt="action 1" class="detail-action-icon" />
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'tackle' user_id=user_profile.user.id %}">
                    <img src="{% static 'icons/tacklebox.png' %}" alt="action" class="detail-action-icon" />
                </a>
        </div>
        {% endif %}
    </div>
{% if not private %}
    <div class="profile-feed">
        <div class="feed-container">
            {% for post in posts %}
            <a href="{% url 'post_detail' post_id=post.id %}" class="post-link">
                <div class="post-card">
                    <div class="post-header">
                        <img class="post-avatar" src="{{ post.user.get_profile_image.url }}" alt="{{ post.user.username }}" />
                        <div class="post-header-right">
                            <div class="post-name-row">
                                <span class="post-profilename">{{ post.user.get_profile_name }}</span>
                                <span class="post-username">@{{ post.user.username }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p class="post-text">{{ post.text }}</p>
                    </div>
                    {% if post.image %}
                    <div class="post-media">
                        <img class="post-image" src="{{ post.image.url }}" alt="post image" />
                    </div>
                    {% endif %}
                    <span class="post-timestamp">{{ post.created_date }}</span>
                    <div class="post-divider"></div>
                    <div class="post-footer">
                        <div class="post-stat">
                            {% if post.id in liked_post_ids %}
                            <img src="{% static 'icons/liked.png' %}" alt="likes" class="stat-icon"/>
                        {% else %}
                            <img src="{% static 'icons/not_liked.png' %}" alt="likes" class="stat-icon"/>
                        {% endif %}    
                            <span class="stat-count">{{ post.like_count }}</span>
                        </div>
                        <div class="post-stat">
                            <img src="{% static 'icons/comment_icon.png' %}" alt="comments" class="stat-icon" />
                            <span class="stat-count">{{ post.comment_count }}</span>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% else %}
<h2>@{{ user_profile.user.username }}'s account is private</h2>

{% endif %}
</div>


<script>
function toggleEdit(editing) {
    document.querySelectorAll('.show-viewing').forEach(el => el.classList.toggle('d-none', editing));
    document.querySelectorAll('.show-editing').forEach(el => el.classList.toggle('d-none', !editing));
}

function previewAvatar(input) {
    if (input.files && input.files[0]) {
        const reader = new FileReader();
        reader.onload = e => document.getElementById('avatar-preview').src = e.target.result;
        reader.readAsDataURL(input.files[0]);
    }
}
</script>

{% endblock %}